<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Context.ApplicationContext.csdl|res://*/Context.ApplicationContext.ssdl|res://*/Context.ApplicationContext.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-KKK16MS;initial catalog=&quot;D:\FACULTATE\ANUL 3\SEMESTRUL 2\TSP.NET\CARSERVICE\CARSERVICECLASSLIBRARY\CARSERVICE.MDF&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="CarServiceContract.ClientServiceImpl" behaviorConfiguration="metadataSupport">
        <endpoint address="http://localhost:8733/" binding="basicHttpBinding" contract="CarServiceContract.IClientService" name="BasicHttpBinding_IClientService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="mexhttp" />
      </service>

      <service name="CarServiceContract.AutoServiceImpl" behaviorConfiguration="metadataSupport">
        <endpoint address="http://localhost:8734/" binding="basicHttpBinding" contract="CarServiceContract.IAutoService" name="BasicHttpBinding_IAutoService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="mexhttp" />
      </service>

      <service name="CarServiceContract.ChassisServiceImpl" behaviorConfiguration="metadataSupport">
        <endpoint address="http://localhost:8735/" binding="basicHttpBinding" contract="CarServiceContract.IChassisService" name="BasicHttpBinding_IChassisService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="mexhttp" />
      </service>

      <service name="CarServiceContract.OrderServiceImpl" behaviorConfiguration="metadataSupport">
        <endpoint address="http://localhost:8736/" binding="basicHttpBinding" contract="CarServiceContract.IOrderService" name="BasicHttpBinding_IOrderService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="mexhttp" />
      </service>

      <service name="CarServiceContract.MechanicServiceImpl" behaviorConfiguration="metadataSupport">
        <endpoint address="http://localhost:8737/" binding="basicHttpBinding" contract="CarServiceContract.IMechanicService" name="BasicHttpBinding_IMechanicService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="mexhttp" />
      </service>

      <service name="CarServiceContract.OperationServiceImpl" behaviorConfiguration="metadataSupport">
        <endpoint address="http://localhost:8738/" binding="basicHttpBinding" contract="CarServiceContract.IOperationService" name="BasicHttpBinding_OperationService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="mexhttp" />
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>