<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IChassisService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8735/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IChassisService" contract="IChassisService"
                name="BasicHttpBinding_IChassisService" />
        </client>
    </system.serviceModel>
</configuration>