<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAutoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8734/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAutoService" contract="IAutoService"
                name="BasicHttpBinding_IAutoService" />
        </client>
    </system.serviceModel>
</configuration>