USE [master]
GO
/****** Object:  Database [D:\FACULTATE\ANUL 3\SEMESTRUL 2\TSP.NET\CARSERVICE\CARSERVICECLASSLIBRARY\CARSERVICE.MDF]    Script Date: 19-Mar-19 10:59:10 PM ******/
CREATE DATABASE [D:\FACULTATE\ANUL 3\SEMESTRUL 2\TSP.NET\CARSERVICE\CARSERVICECLASSLIBRARY\CARSERVICE.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarService', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CarService.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarService_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\D__FACULTATE_ANUL 3_SEMESTRUL 2_TSP.NET_CARSERVICE_CARSERVICECLASSLIBRARY_CARSERVICE.MDF_log.ldf' , SIZE = 768KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [D:\FACULTATE\ANUL 3\SEMESTRUL 2\TSP.NET\CARSERVICE\CARSERVICECLASSLIBRARY\CARSERVICE.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [D:\FACULTATE\ANUL 3\SEMESTRUL 2\TSP.NET\CARSERVICE\CARSERVICECLASSLIBRARY\CARSERVICE.MDF]
GO
/****** Object:  Table [dbo].[Automobil]    Script Date: 19-Mar-19 10:59:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Automobil](
	[AutoId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[NumarAuto] [varchar](10) NOT NULL,
	[SasiuId] [int] NOT NULL,
	[SerieSasiu] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[AutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 19-Mar-19 10:59:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [varchar](15) NOT NULL,
	[Prenume] [varchar](15) NOT NULL,
	[Adresa] [varchar](50) NOT NULL,
	[Localitate] [varchar](10) NOT NULL,
	[Judet] [varchar](10) NOT NULL,
	[Telefon] [varchar](13) NOT NULL,
	[Email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comanda]    Script Date: 19-Mar-19 10:59:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comanda](
	[ComandaId] [int] IDENTITY(1,1) NOT NULL,
	[AutoId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[StareComanda] [varchar](10) NOT NULL,
	[DataSystem] [datetime] NOT NULL,
	[DataProgramare] [datetime] NULL,
	[DataFinalizare] [datetime] NULL,
	[KmBord] [int] NOT NULL,
	[Descriere] [varchar](256) NOT NULL,
	[ValoarePiese] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComandaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetaliiComanda]    Script Date: 19-Mar-19 10:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetaliiComanda](
	[DetaliiComandaId] [int] IDENTITY(1,1) NOT NULL,
	[ComandaId] [int] NOT NULL,
	[AutoId] [int] NOT NULL,
	[MecanicId] [int] NOT NULL,
	[OperatieId] [int] NOT NULL,
	[ImagineId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetaliiComandaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imagine]    Script Date: 19-Mar-19 10:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imagine](
	[ImagineId] [int] IDENTITY(1,1) NOT NULL,
	[Titlu] [varchar](15) NOT NULL,
	[Descriere] [varchar](256) NULL,
	[DataImagine] [datetime] NOT NULL,
	[Foto] [image] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImagineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 19-Mar-19 10:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[Denumire] [varchar](50) NOT NULL,
	[Cantitate] [decimal](10, 2) NOT NULL,
	[Pret] [decimal](10, 2) NOT NULL,
	[DataAprovizionare] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mecanic]    Script Date: 19-Mar-19 10:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mecanic](
	[MecanicId] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [varchar](15) NULL,
	[Prenume] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MecanicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operatie]    Script Date: 19-Mar-19 10:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operatie](
	[OperatieId] [int] IDENTITY(1,1) NOT NULL,
	[Denumire] [varchar](256) NOT NULL,
	[TimpExecutie] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OperatieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sasiu]    Script Date: 19-Mar-19 10:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sasiu](
	[SasiuId] [int] IDENTITY(1,1) NOT NULL,
	[CodSasiu] [varchar](2) NOT NULL,
	[Denumire] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SasiuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Automobil]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[Automobil]  WITH CHECK ADD FOREIGN KEY([SasiuId])
REFERENCES [dbo].[Sasiu] ([SasiuId])
GO
ALTER TABLE [dbo].[Comanda]  WITH CHECK ADD FOREIGN KEY([AutoId])
REFERENCES [dbo].[Automobil] ([AutoId])
GO
ALTER TABLE [dbo].[Comanda]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[DetaliiComanda]  WITH CHECK ADD FOREIGN KEY([AutoId])
REFERENCES [dbo].[Automobil] ([AutoId])
GO
ALTER TABLE [dbo].[DetaliiComanda]  WITH CHECK ADD FOREIGN KEY([ComandaId])
REFERENCES [dbo].[Comanda] ([ComandaId])
GO
ALTER TABLE [dbo].[DetaliiComanda]  WITH CHECK ADD FOREIGN KEY([ImagineId])
REFERENCES [dbo].[Imagine] ([ImagineId])
GO
ALTER TABLE [dbo].[DetaliiComanda]  WITH CHECK ADD FOREIGN KEY([MecanicId])
REFERENCES [dbo].[Mecanic] ([MecanicId])
GO
ALTER TABLE [dbo].[DetaliiComanda]  WITH CHECK ADD FOREIGN KEY([OperatieId])
REFERENCES [dbo].[Operatie] ([OperatieId])
GO
/****** Object:  StoredProcedure [dbo].[CleanFromTables]    Script Date: 19-Mar-19 10:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CleanFromTables] AS 
BEGIN;
delete from Client;
DBCC CHECKIDENT ('Client', RESEED, 0);

delete from Automobil;
DBCC CHECKIDENT ('Automobil', RESEED, 0);

delete from Sasiu;
DBCC CHECKIDENT ('Sasiu', RESEED, 0);

delete from Mecanic;
DBCC CHECKIDENT ('Mecanic', RESEED, 0);

delete from Material;
DBCC CHECKIDENT ('Material', RESEED, 0);

delete from Imagine;
DBCC CHECKIDENT ('Imagine', RESEED, 0);

delete from Operatie;
DBCC CHECKIDENT ('Operatie', RESEED, 0);

delete from Comanda;
DBCC CHECKIDENT ('Comanda', RESEED, 0);

delete from DetaliiComanda;
DBCC CHECKIDENT ('DetaliiComanda', RESEED, 0);
End;
GO
USE [master]
GO
