<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_OperationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8738/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_OperationService" contract="IOperationService"
                name="BasicHttpBinding_OperationService" />
        </client>
    </system.serviceModel>
</configuration>