<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IClientService" sendTimeout="00:05:00" />

        <binding name="BasicHttpBinding_IAutoService" sendTimeout="00:05:00" />

        <binding name="BasicHttpBinding_IChassisService" sendTimeout="00:05:00" />

        <binding name="BasicHttpBinding_IOrderService" sendTimeout="00:05:00" />

        <binding name="BasicHttpBinding_IMechanicService" sendTimeout="00:05:00" />

        <binding name="BasicHttpBinding_IOperationService" sendTimeout="00:05:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientService" contract="IClientService" name="BasicHttpBinding_IClientService" />

      <endpoint address="http://localhost:8734/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutoService" contract="IAutoService" name="BasicHttpBinding_IAutoService" />

      <endpoint address="http://localhost:8735/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChassisService" contract="IChassisService" name="BasicHttpBinding_IChassisService" />

      <endpoint address="http://localhost:8736/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService" contract="IOrderService" name="BasicHttpBinding_IOrderService" />

      <endpoint address="http://localhost:8737/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMechanicService" contract="IMechanicService" name="BasicHttpBinding_IMechanicService" />

      <endpoint address="http://localhost:8738/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOperationService" contract="IOperationService" name="BasicHttpBinding_IOperationService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>