<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMechanicService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8737/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMechanicService" contract="IMechanicService"
                name="BasicHttpBinding_IMechanicService" />
        </client>
    </system.serviceModel>
</configuration>