<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IClientService" contract="IClientService"
                name="BasicHttpBinding_IClientService" />
        </client>
    </system.serviceModel>
</configuration>